html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #910000;
}

.header{
	width: 100%;
	height:55px;
	background-color: #3a3a3a;
	position:relative;
	top:0;
}

.home{
	font-family: Arial;
	color:pink;
	position:absolute;
	top:7px;
	font-size: 30px;
	left: 10px;
	cursor:pointer;
	padding: 5px;
}

.posters{
	font-family: Arial;
	color:white;
	position:absolute;
	top:7px;
	font-size: 30px;
	left: 150px;
	cursor:pointer;
	padding: 5px;
}

.invite{
	font-family: Arial;
	color:white;
	position:absolute;
	top:7px;
	font-size: 30px;
	left: 350px;
	cursor:pointer;
	padding: 5px;
}

.schedule{
	font-family: Arial;
	color:white;
	position:absolute;
	top:7px;
	font-size: 30px;
	left: 500px;
	cursor:pointer;
	padding: 5px;
}

.wayfinding{
	font-family: Arial;
	color:white;
	position:absolute;
	top:7px;
	font-size: 30px;
	left: 735px;
	cursor:pointer;
	padding: 5px;
}

.about{
	font-family: Arial;
	color:white;
	position:absolute;
	top:7px;
	font-size: 30px;
	left: 1150px;
	cursor:pointer;
	padding: 5px;
}

.home:hover{
	background-color: #282828;
}

.posters:hover{
	background-color: #282828;
}

.invite:hover{
	background-color: #282828;
}

.schedule:hover{
	background-color: #282828;
}

.wayfinding:hover{
	background-color: #282828;
}

.about:hover{
	background-color: #282828;
}

a{
	text-decoration: none;
	color:white;
}

#rectangle{
	width: 100%;
	height: 120%;
	background-color: black;
}

.background{
	position: absolute;
	width:100%;
	height:120%;
}

.box{
	position: absolute;
	background-color: none;
	width: 40%;
	height:100%;
	left: 30%;
}

.day1{
	position: absolute;
	top: 10%;
	font-size: 30px;
	font-family: Arial; 
	font-weight: 10px;
	text-align: center;
	width:100%;
	background-color: #272828;
	padding: 1px;
}

.day2{
	position: absolute;
	top: 25%;
	font-size: 30px;
	font-family: Arial; 
	font-weight: 5px;
	text-align: center;
	width:100%;
	background-color: #272828;
	padding: 1px;
}

.day3{
	position: absolute;
	top: 40%;
	font-size: 30px;
	font-family: Arial; 
	font-weight: 5px;
	text-align: center;
	width:100%;
	background-color: #272828;
	padding: 1px;
}

.day4{
	position: absolute;
	top: 55%;
	font-size: 30px;
	font-family: Arial; 
	font-weight: 5px;
	text-align: center;
	width:100%;
	background-color: #272828;
	padding: 1px;
}

.day5{
	position: absolute;
	top: 70%;
	font-size: 30px;
	font-family: Arial; 
	font-weight: 5px;
	text-align: center;
	width:100%;
	background-color: #272828;
	padding: 1px;
}

.day6{
	position: absolute;
	top: 85%;
	font-size: 30px;
	font-family: Arial; 
	font-weight: 5px;
	text-align: center;
	width:100%;
	background-color: #272828;
	padding: 1px;
}

.day7{
	position: absolute;
	top: 100%;
	font-size: 30px;
	font-family: Arial; 
	font-weight: 5px;
	text-align: center;
	width:100%;
	background-color: #272828;
	padding: 1px;
}

