html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
}
/*
#loader{
	height:100%;
	width:100%;
}*/

#slideshow{
	position:relative;
	width: 100%;
	height: 100%;
	background: white;
	overflow:hidden;
	position: relative;
	margin-top: 0px; 
}

#slide{
	width:100%;
	height:100%;
	max-width: 100%;
	max-height: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    overflow:hidden;
}

#slide > div {
	position:relative;
	left:0;
	top:0;
	right:0;
	bottom:0;
}

#slide img{
	position:absolute;
    margin:0 auto;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.arrow{
	position:absolute;
	top:78%;
	left:47.5%;
	height:5%;
	width:5%;
	animation: arrow 1s normal infinite;
    -webkit-animation-play-state: play; 
    animation-play-state: play;
}

@keyframes arrow {
  0% {
    opacity:0.2; 
  }

  100% {
    opacity:1;
  }
}

.work{
	position:relative;
	height: 250%;
	width:100%;
	color:#fff;
}

.header{
	position:absolute;
	width:100%;
	height:150px;
	background-color: black;
	font-family: "oswald";
	font-style: bold;
	left:0;
}

.name{
	position:absolute;
	top:48%;
	left:5%;
	font-size: 50px;
	color:white;
}

.about{
	position:absolute;
	top:30%;
	right:5%;
	font-size: 22px;
	color:white;
}

.art{
	position:absolute;
	top:50%;
	right:5%;
	font-size: 22px;
	color:white;
}

.contact{
	position:absolute;
	top:70%;
	right:5%;
	font-size: 22px;
	color:white;
}

a{
	text-decoration: none;
	color: white;
}

.wrapper{
	position:absolute;
	width:690px;
	height: 73%;
	background-color:transparent;
	top: 15%;
	left:25%;
	overflow: hidden;
}

.box1{
	position:absolute;
	height: 50px;
	width:250px;
	background-color: transparent;
	overflow:hidden;
	display:inline-block;
	margin-top: 300px;
	margin-left: -80px;
	transform: rotate(270deg);
}

.typography{
	position: absolute;
	font-weight:450px;
	color: white;  
    text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
   
}

@keyframes typography {
  0% {
    font-size: 30px;
    font-family: "impact", helvetica;
    font-style: bold;
    font-weight:600;
  }
  40% {
    font-size: 30px;
    font-family: "Oswald", helvetica, "futura", georgia;
    font-style: bold;
    font-weight:600;
  }
  50% {
    font-size: 30px;
    font-family: arial;
    font-style: bold;
    font-weight:600;
  }
  60% {
    font-size: 30px;
    font-family: tahoma, Courier;
    font-style: bold;
    font-weight:600;
  }
  100% {
    font-size: 30px;
    font-family: "Oswald", verdana;
    font-style: bold;
    font-weight:600;
  }
}


.t{
	font-size: 20%;
	color: #2d2d2d;
	font-family: "Oswald", helvetica;
	font-style: bold;
	text-align: center;
	position:relative;
	animation: typography 7s infinite;

}

.y{
	font-size: 20%;
	color: #2d2d2d;
	font-family: "Oswald", helvetica;
	font-style: bold;
	text-align: center;
	position:relative;
	animation: typography 5s infinite;
    
}

.p{
	font-size: 20%;
	color: #2d2d2d;
	font-family: "Oswald", helvetica;
	font-style: bold;
	position:relative;
	animation: typography 6s infinite;
	
}

.o{
	font-size: 20%;
	color: #2d2d2d;
	font-family: "Oswald", helvetica;
	font-style: bold;
	position:relative;
	animation: typography 7s infinite;
}

.g{
	font-size: 20%;
	color: #2d2d2d;
	font-family: "Oswald", helvetica;
	position:relative;
	animation: typography 5s infinite;
}

.r{
	font-size: 20%;
	color: #2d2d2d;
	font-family: "Oswald", helvetica;
	position:relative;
	animation: typography 6s infinite;
}

.a{
	font-size: 20%;
	color: #2d2d2d;
	font-family: "Oswald", helvetica;
	position:relative;
	animation: typography 7s infinite;
}

.p{
	font-size: 20%;
	color: #2d2d2d;
	font-family: "Oswald", helvetica;
	position:relative;
	animation: typography 6s infinite;
}

.h{
	font-size: 20%;
	color: #2d2d2d;
	font-family: "Oswald", helvetica;
	position:relative;
	animation: typography 5s infinite;
}

.y2{
	font-size: 20%;
	color: #2d2d2d;
	font-family: "Oswald", helvetica;
	position:relative;
	animation: typography 6s infinite;
}

.box2{
	position:relative;
	height: 40px;
	width:200px;
	background-color: transparent;
	overflow:hidden;
	display:inline-block;
	margin-top: 550px;
	margin-left:-56px;
	transform: rotate(270deg);
}

.drawings{
	position: absolute;
	margin-top:-5px;
	color: white; 
	font-weight:600;
   display: inline-block;
   text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}


@keyframes drawings{
    0% {
    font-size: 30px;
    font-style: normal;
    font-weight:600;
  }
  
  50% {
    font-size: 30px;
    font-style: italic;
    font-weight:600;
  }

  100% {
    font-size: 30px;
    font-weight:600;
  }
}

.d{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald", helvetica;
	text-align: center;
	position:relative;
	animation: drawings 1s
  infinite ease-in alternate;
}

.r2{
	font-size: 30px;
	color: #2d2d2d;
	font-family:"Oswald", helvetica;
	text-align: center;
	position:relative;
	animation: drawings 1s
  infinite ease-in alternate;
}

.a2{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: drawings 1s
  infinite ease-in alternate;
}

.w{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: drawings 1s
  infinite ease-in alternate;
}

.i{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: drawings 1s
  infinite ease-in alternate;
}

.n{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: drawings 1s
  infinite ease-in alternate;
}

.g2{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: drawings 1s
  infinite ease-in alternate;
}

.s{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: drawings 1s
  infinite ease-in alternate;
}

.box3{
	position:absolute;
	height: 90px;
	width:200px;
	background-color: transparent;
	overflow:hidden;
	display:table;
	margin-top: 400px;
	margin-left:-50px;
	transform: rotate(270deg);
}

.time{
	position: absolute;
	margin-top: -10px;
	color: white; 
   display: inline-block;
   text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

@keyframes time{
   0%   { opacity: 0;
   font-weight:600; }
  50% { opacity: 1; 
  font-weight:600;}
  100% { opacity: 2;
  font-weight:600; }
}

.t2{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald", helvetica;
	text-align: center;
	margin-top: 20px;
	position:relative;
	animation: time 1s
  infinite ease-in alternate;
}

.i2{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald", helvetica;
	text-align: center;
	margin-top: 20px;
	position:relative;
	animation: time 2s
  infinite ease-in alternate;
}

.m{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald", helvetica;
	text-align: center;
	margin-top: 20px;
	position:relative;
	animation: time 3s
  infinite ease-in alternate;
}

.e{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald", helvetica;
	text-align: center;
	margin-top: 20px;
	position:relative;
	animation: time 2s
  infinite ease-in alternate;
}

.box4{
	position:absolute;
	height: 50px;
	width:140px;
	background-color: transparent;
	overflow:hidden;
	display:inline-block;
	margin-top: 800px;
	margin-left: -25px;
	transform: rotate(270deg);
}

.coding{
	position: absolute;
	margin-top:-50px;
	font-weight:500;
	color: white; 
    display: inline-block;
    text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

@keyframes coding{
    0%   {left: 0px; font-weight:600;}
    25%  {right: 5px; font-weight:600;}
    50%  {left: 30px; font-weight:600;}
    75%  {right: 5px; font-weight:600;}
    100% {left: 0px; font-weight:600;}
}

.c{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald","wire one", helvetica;
	font-style:bold;
	text-align: center;
	margin-top: 45px;
	position:relative;
	animation: coding 3s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

.o2{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald","wire one", helvetica;
	text-align: center;
	margin-top: 45px;
	position:relative;
	animation: coding 3s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

.d2{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald","wire one", helvetica;
	text-align: center;
	margin-top: 45px;
	position:relative;
	animation: coding 3s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

.i3{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald","wire one", helvetica;
	text-align: center;
	margin-top: 45px;
	position:relative;
	animation: coding 3s
    infinite ease-in alternate;
    text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

.n2{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald","wire one", helvetica;
	text-align: center;
	margin-top: 45px;
	position:relative;
	animation: coding 3s
    infinite ease-in alternate;
    text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}


.g3{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald", "wire one", helvetica;
	text-align: center;
	margin-top: 45px;
	position:relative;
	animation: coding 3s
  	infinite ease-in alternate;
  	text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

.box5{
	position:absolute;
	height: 90px;
	width:300px;
	background-color: transparent;
	overflow:hidden;
	display:table;
	margin-top: 560px;
	margin-left: 480px;
}

.threed{
	margin-top: -50px;
	position: absolute;
	font-weight:500;
	display: inline-block;
}

@keyframes threed{
  0% { font-size: 30px;
  text-shadow: 2px 2px grey;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  	color: #1f303a; font-weight: normal; }
  85%{ font-size: 40px;
  text-shadow: 4px 4px grey;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  	color: black; font-weight: bolder; }
}

.three{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	margin-top: 45px;
	position:relative;
	animation: threed 3s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

.d3{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	margin-top: 45px;
	position:relative;
	animation: threed 3s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
}

a{
	text-decoration: none;
}

.box6{
	position:absolute;
	height: 70px;
	width:200px;
	background-color: transparent;
	overflow:hidden;
	margin-top: 590px;
	margin-left: -40px;
	transform: rotate(270deg);
}

.photography{
	position: absolute;
	margin-top: -50px;
	color: white; 
	font-weight:600;
   display: inline-block;
   text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

@keyframes photography{
  0% { visibility:visible; }
  95%{ visibility:hidden; }
  100%{ visibility:hidden; }
}

.p2{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: photography 2s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

.h2{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: photography 2s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

.o3{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: photography 2s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

.t3{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: photography 2s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

.o4{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	margin-top: 45px;
	position:relative;
	animation: photography 2s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

.g4{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: photography 2s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

.r3{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: photography 2s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

.a3{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: photography 2s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

.p2{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: photography 2s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

.h2{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: photography 2s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

.y3{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: photography 2s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

.box7{
	position:absolute;
	height: 90px;
	width:800px;
	background-color: transparent;
	overflow:hidden;
	display:table;
	margin-top: 840px;
	margin-left:5px;
}

.internship{
	position: absolute;
	margin-top: -25px;
	color: white;
	font-weight:500;
   display: inline-block;
   text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

@keyframes internship{
  0% { top:2px; }
  25%{ bottom:2px; }
  45%{ top:2px; }
  55%{ bottom:2px; }
  75%{ top:2px; }
  100%{ bottom:2px; }
}

.i4{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: internship 1s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
}

.n3{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: internship 2s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  left: 5px;
}

.t4{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: internship 3s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  left: 3px;

}

.e2{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	margin-top: 45px;
	position:relative;
	animation: internship 4s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
left: 2px;
}

.r4{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: internship 5s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  left: 8px;
}

.n4{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: internship 6s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  left: 8px;
}

.s2{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: internship 7s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  left: 8px;
}

.h3{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: internship 8s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  left: 8px;
}

.i4{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: internship 9s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  left: 8px;
}

.i7{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: internship 10s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  left: 8px;
}

.e3{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: internship 10s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  left: 8px;
}

.n5{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: internship 10s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  left: 8px;
}

.c2{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: internship 10s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  left: 8px;
}

.e4{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: internship 10s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  left: 8px;
}

.box8{
	position:absolute;
	height: 90px;
	width:800px;
	background-color: transparent;
	overflow:hidden;
	display:table;
	margin-top: 850px;
	margin-left:500px;
}

.godiva{
	position: absolute;
	margin-top: 5px;
	margin-left:5px;
	color: white;
	font-weight:500;
   display: inline-block;
   text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
}

@keyframes godiva{
  0% { font-weight:500; }
  25%{ font-weight:600; }
  45%{ font-weight:700; }
  55%{ font-weight:500; }
  75%{ font-weight:600; }
  100%{ font-weight:700; }
}

.g5{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: godiva 1s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;

}

.o5{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: godiva 2s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  left: -3px;
}

.d4{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: godiva 3s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  left: -6px;
}

.i6{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: godiva 1s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  left: -10px;
}

.v1{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: godiva 2s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  left: -14px;
}

.a4{
	font-size: 30px;
	color: #2d2d2d;
	font-family: "Oswald",helvetica;
	text-align: center;
	position:relative;
	animation: godiva 3s
  infinite ease-in alternate;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  left: -18px;
}



.img1{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(img/img1-1.png);
	background-size: 200px 200px;
}

.img1:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.img2{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 0px;
	margin-top: 690px;
	background-image: url(img/img2-1.png);
	background-size: 200px 200px;
}

.img2:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.img3{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 460px;
	margin-top: 920px;
	background-image: url(img/img3-1.png);
	background-size: 200px 200px;
}

.img3:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.img4{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 230px;
	margin-top: 0px;
	background-image: url(img/img4-1.jpeg);
	background-size: 200px 200px;
}

.img4:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.img5{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 230px;
	margin-top: 460px;
	background-image: url(img/img5-1.jpg);
	background-size: 200px 200px;
	border: 0.25px solid black;
}

.img5:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.img6{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 460px;
	margin-top: 230px;
	background-image: url(img/img6-1.jpg);
	background-size: 200px 200px;
}

.img6:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.img7{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 460px;
	margin-top: 460px;
	background-image: url(img/img7-1.jpg);
	background-size: 200px 200px;
}

.img7:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.img8{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 460px;
	margin-top: 0px;
	background-image: url(img/img8-1.jpg);
	background-size: 200px 200px;
}

.img8:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.img9{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 230px;
	margin-top: 230px;
	background-image: url(img/img9-1.jpg);
	background-size: 200px 200px;
}

.img9:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.img10{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 460px;
	margin-top: 690px;
	background-image: url(img/img10-1.jpg);
	background-size: 200px 200px;
}

.img10:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.img11{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 230px;
	margin-top: 690px;
	background-image: url(img/img11-1.jpg);
	background-size: 200px 200px;
	
}

.img11:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.img12{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 212px;
	margin-top: 210px;
	background-image: url(img/img12-1.jpg);
	background-size: 200px 200px;
	
}

.img12:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.img13{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 0px;
	margin-top: 920px;
	background-image: url(img/img13-1.jpg);
	background-size: 200px 200px;
}

.img13:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.img14{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 230px;
	margin-top: 920px;
	background-image: url(img/img14-1.png);
	background-size: 200px 200px;
}

.img14:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.img15{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 5px;
	margin-top: 528px;
	background-image: url(img/img15-1.jpg);
	background-size: 200px 200px;
}

.img15:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.img16{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 450px;
	margin-top: 620px;
	background-image: url(img/img16-1.jpg);
	background-size: 200px 220px;
}

.img16:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.img17{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 0px;
	margin-top: 460px;
	background-image: url(img/img17-1.jpg);
	background-size: 200px 200px;
}

.img17:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.img18{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 0px;
	margin-top: 230px;
	background-image: url(img/img18-1.jpg);
	background-size: 200px 200px;
}

.img18:hover {
	width: 220px;
	height: 220px;
	background-size: 220px 220px;
}

.copyrights{
	position: absolute;
	top:94%;
	left:40%;
	font-family:"oswald";
	font-size:15px;
	color:#a6acb5;
	width:20%;
	text-align:center;
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{

.body {
	width: 100%;
	height: 50%;
}

* {
    box-sizing: border-box;
}

#slideshow{
	visibility: hidden;
}

#slide{
	visibility: hidden;
}

.header{
	position:absolute;
	width:100%;
	height:150px;
	background-color: black;
	font-family: "oswald";
	font-style: bold;
	top:0;
	left:0;
}

.name{
	position:absolute;
	top:20%;
	left:5%;
	width:90%;
	font-size: 50px;
	text-align:center;
	color:white;
}

.about{
	top:70%;
	left:20%;
	display:inline-block;
	text-align:center;
	width:10%;
	font-size: 20px;
}

.art{
	top:70%;
	left:40%;
	display:inline-block;
	text-align:center;
	width:10%;
	font-size: 20px;
}

.contact{
	top:70%;
	left:60%;
	display:inline-block;
	text-align:center;
	width:10%;
	font-size: 20px;
}

a{
	text-decoration: none;
	color: white;
}


.wrapper{
	width:290px;
	height:475px;
	left:12%;
}

.box1{
	position:absolute;
	height: 80px;
	width:390px;
	margin-top: 450px;
	margin-left: 0;
	visibility: hidden;
}
.box2{
	position:relative;
	height: 90px;
	width:200px;
	background-color: white;
	overflow:hidden;
	display:table;
	margin-top: 1230px;
	visibility: hidden;
}

.box3{
	position:absolute;
	height: 90px;
	width:200px;
	background-color: transparent;
	overflow:hidden;
	display:table;
	margin-top: 430px;
	margin-left:0px;
	visibility: hidden;
}

.box4{
	position:absolute;
	height: 80px;
	width:80%;
	background-color: white;
	overflow:hidden;
	display:table;
	margin-top: 5px;
	visibility: hidden;
}

.box5{
	visibility: hidden;
}

.photography{
	position: absolute;
	margin-top: -50px;
	color: white; 
	font-weight:600;
   display: inline-block;
   text-shadow: 0 13.36px 8.896px #a6acb5,0 -2px 1px #fff;
   visibility: hidden;
}

.box6{
	position:absolute;
	height: 90px;
	width:500px;
	margin-top: 710px;
	margin-left:5px;
	visibility: hidden;
}

.box7{
	position:absolute;
	margin-top: 1350px;
	margin-left:5px;
	visibility: hidden;
}
.box8{
	position:absolute;
	margin-top: 1730px;
	margin-left:0px;
	visibility: hidden;
}

.img1{
	position:absolute;
	width: 90px;
	height: 90px;
	background-color:black;
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(img/img1-1.png);
	background-size: 90px 90px;
}


.img2{
	position:absolute;
	width: 90px;
	height: 90px;
	background-color:black;
	margin-left: 0px;
	margin-top: 285px;
	background-image: url(img/img2-1.png);
	background-size: 90px 90px;
}


.img3{
	position:absolute;
	width: 90px;
	height: 90px;
	background-color:black;
	margin-left: 190px;
	margin-top: 380px;
	background-image: url(img/img3-1.png);
	background-size: 90px 90px;
}


.img4{
	position:absolute;
	width: 90px;
	height: 90px;
	background-color:black;
	margin-left: 95px;
	margin-top: 0px;
	background-image: url(img/img4-1.jpeg);
	background-size: 90px 90px;
}


.img5{
	position:absolute;
	width: 90px;
	height: 90px;
	background-color:black;
	margin-left: 95px;
	margin-top: 190px;
	background-image: url(img/img5-1.jpg);
	background-size: 90px 90px;
	border: 0.25px solid black;
}


.img6{
	position:absolute;
	width: 90px;
	height: 90px;
	background-color:black;
	margin-left: 190px;
	margin-top: 95px;
	background-image: url(img/img6-1.jpg);
	background-size: 90px 90px;
}


.img7{
	position:absolute;
	width: 90px;
	height: 90px;
	background-color:black;
	margin-left: 190px;
	margin-top: 190px;
	background-image: url(img/img7-1.png);
	background-size: 90px 90px;
}


.img8{
	position:absolute;
	width: 90px;
	height: 90px;
	background-color:black;
	margin-left: 190px;
	margin-top: 0px;
	background-image: url(img/img8-1.jpg);
	background-size: 90px 90px;
}


.img9{
	position:absolute;
	width: 90px;
	height: 90px;
	background-color:black;
	margin-left: 95px;
	margin-top: 95px;
	background-image: url(img/img9-1.jpg);
	background-size: 90px 90px;
}


.img10{
	position:absolute;
	width: 90px;
	height: 90px;
	background-color:black;
	margin-left: 190px;
	margin-top: 285px;
	background-image: url(img/img10-1.jpg);
	background-size: 90px 90px;
}

.img11{
	position:absolute;
	width: 90px;
	height: 90px;
	background-color:black;
	margin-left: 95px;
	margin-top: 285px;
	background-image: url(img/img11-1.jpg);
	background-size: 90px 90px;
	
}

.img12{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 212px;
	margin-top: 210px;
	background-image: url(img/img12-1.jpg);
	background-size: 200px 200px;
	
}


.img13{
	position:absolute;
	width: 90px;
	height: 90px;
	background-color:black;
	margin-left: 0px;
	margin-top: 380px;
	background-image: url(img/img13-1.jpg);
	background-size: 90px 90px;
}


.img14{
	position:absolute;
	width: 90px;
	height: 90px;
	background-color:black;
	margin-left: 95px;
	margin-top: 380px;
	background-image: url(img/img14-1.png);
	background-size: 90px 90px;
}


.img15{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 5px;
	margin-top: 528px;
	background-image: url(img/img15-1.jpg);
	background-size: 200px 200px;
}


.img16{
	position:absolute;
	width: 200px;
	height: 200px;
	background-color:black;
	margin-left: 450px;
	margin-top: 620px;
	background-image: url(img/img16-1.jpg);
	background-size: 200px 220px;
}


.img17{
	position:absolute;
	width: 90px;
	height: 90px;
	background-color:black;
	margin-left: 0px;
	margin-top: 190px;
	background-image: url(img/img17-1.jpg);
	background-size: 90px 90px;
}

.img18{
	position:absolute;
	width: 90px;
	height: 90px;
	background-color:black;
	margin-left: 0px;
	margin-top: 95px;
	background-image: url(img/img18-1.jpg);
	background-size: 90px 90px;
}



.copyrights{
	position: relative;
	top:50%;
	left:25%;
	font-family:"oswald";
	font-size:10px;
	color:grey;
	width:50%;
	text-align:center;
}

}