html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
}

.header{
	position:relative;
	width:100%;
	height:150px;
	background-color: #232323;
	font-family: "wire one", helvetica, arial;
	top:0;
}

.name{
	position:absolute;
	top:50%;
	left:5%;
	font-size: 50px;
	color:white;
}

.about{
	position:absolute;
	top:30%;
	right:5%;
	font-size: 22px;
	color:white;
}

.art{
	position:absolute;
	top:50%;
	right:5%;
	font-size: 22px;
	color:white;
}

.contact{
	position:absolute;
	top:70%;
	right:5%;
	font-size: 22px;
	color:white;
}

a{
	text-decoration: none;
	color: white;
}

.description{
	position: relative;
	top: 10%;
	left:25%;
	width:50%;
	height:auto;
	color:black;
	font-size:15px;
	font-family: "Oswald", helvetica, arial;
}

.web{
	position:relative;
	font-size:15px;
	font-family: "Oswald", helvetica, arial;
	text-align:center;
	color:black;
}

a.web { 
	position:relative;
	font-size:15px;
	font-family: "Oswald", helvetica, arial;
	text-align:center;
	color:black;
	text-decoration: underline;
}

.wrapper{
	position:relative;
	top: 18%;
	left: 15%;
	width: 70%;
	height:380%;
	background-color: #fff;

}

.img12{
	position: absolute;
	top:600px;
	left:0%;
	width: 284px;
	height:426px;
	background-image:url(img12.jpg);
	background-size: 284px 426px;
	background-repeat: no-repeat;
}

.img13{
	position: absolute;
	top:600px;
	left:305px;
	width: 285px;
	height:426px;
	background-image:url(img13.jpg);
	background-size: 373px 426px;
	background-repeat: no-repeat;
}

.img14{
	position: absolute;
	top:600px;
	left:610px;
	width: 285px;
	height:426px;
	background-image:url(img14.jpg);
	background-size: 373px 426px;
	background-repeat: no-repeat;
}

.img15{
	position: absolute;
	top:1038px;
	left:0%;
	width: 893px;
	height: 651.25px;
	background-image:url(img15.jpg);
	background-size: 893px 651.25px;
	background-repeat: no-repeat;
}

.img16{
	position: absolute;
	top:1701px;
	left:0px;
	width: 893px;
	height: 651.25px;
	background-image:url(img16.jpg);
	background-size: 893px 651.25px;
	background-repeat: no-repeat;
}

.index{
	border-top:0px solid #adafb2 ;
	position:relative;
	top: 20%;
	border-top-style: dotted;
	background-color: #fafafa;
	height:300px;
}

.copyrights{
	position: relative;
	top:20%;
	left:40%;
	font-family:"oswald", helvetica, arial;
	font-size:10px;
	color:grey;
	width:20%;
	text-align:center;
}