html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
}

.header{
	position:relative;
	width:100%;
	height:150px;
	background-color: black;
	font-family: "oswald", helvetica, arial;
	top:0;
}

.name{
	position:absolute;
	top:48%;
	left:5%;
	font-size: 50px;
	color:white;
}

.about{
	position:absolute;
	top:30%;
	right:5%;
	font-size: 22px;
	color:white;
}

.art{
	position:absolute;
	top:50%;
	right:5%;
	font-size: 22px;
	color:white;
}

.contact{
	position:absolute;
	top:70%;
	right:5%;
	font-size: 22px;
	color:white;
}

a{
	text-decoration: none;
	color: white;
}

.description{
	position: relative;
	top: 10%;
	left:25%;
	width:50%;
	height:auto;
	color:black;
	font-size:15px;
	font-family: "Oswald", helvetica, arial;
}

.web{
	position:relative;
	font-size:15px;
	font-family: "Oswald", helvetica, arial;
	text-align:center;
	color:black;
}

a.web { 
	position:relative;
	font-size:15px;
	font-family: "Oswald", helvetica, arial;
	text-align:center;
	color:black;
	text-decoration: underline;
}

.wrapper{
	position:relative;
	top: 20%;
	left: 5%;
	width: 90%;
	height:170%;
	background-color: transparent;
}

.img1{
	position: absolute;
	top:0;
	left:0;
	width: 370px;
	height:277.5px;
	background-image:url(img1.jpg);
	background-size: 370px 277.5px;
	background-repeat: no-repeat;
}

.img2{
	position: absolute;
	top:0;
	left:380px;
	width: 370px;
	height:277.31px;
	background-image:url(img2.jpg);
	background-size: 370px 277.31px;
	background-repeat: no-repeat;
}

.img3{
	position: absolute;
	top:0px;
	left:760px;
	width: 370px;
	height:277.31px;
	background-image:url(img3.jpg);
	background-size: 370px 277.31px;
	background-repeat: no-repeat;
}

.img4{
	position: absolute;
	top:287.31px;
	left:0;
	width: 370px;
	height:277.31px;
	background-image:url(img4.jpg);
	background-size: 370px 277.31px;
	background-repeat: no-repeat;
}

.img5{
	position: absolute;
	top:287.31px;
	left:380px;
	width: 370px;
	height:277.31px;
	background-image:url(img5.jpg);
	background-size: 370px 277.31px;
	background-repeat: no-repeat;
}

.img6{
	position: absolute;
	top:287.31px;
	left:760px;
	width: 370px;
	height:277.31px;
	background-image:url(img6.jpg);
	background-size: 370px 277.31px;
	background-repeat: no-repeat;
}


.img7{
	position: absolute;
	top:574.62px;
	left:0;
	width: 370px;
	height:277.31px;
	background-image:url(img7.jpg);
	background-size: 370px 277.31px;
	background-repeat: no-repeat;
}

.img8{
	position: absolute;
	top:574.62px;
	left:380px;
	width: 370px;
	height:277.31px;
	background-image:url(img8.jpg);
	background-size: 370px 277.31px;
	background-repeat: no-repeat;
}

.img9{
	position: absolute;
	top:574.62px;
	left:760px;
	width: 370px;
	height:277.31px;
	background-image:url(img9.jpg);
	background-size: 370px 277.31px;
	background-repeat: no-repeat;
}

.img10{
	position: absolute;
	top:861.93px;
	left:0;
	width: 370px;
	height:277.31px;
	background-image:url(img10.jpg);
	background-size: 370px 277.31px;
	background-repeat: no-repeat;
}

.img11{
	position: absolute;
	top:861.93px;
	left:380px;
	width: 370px;
	height:277.31px;
	background-image:url(img11.jpg);
	background-size: 370px 277.31px;
	background-repeat: no-repeat;
}

.img12{
	position: absolute;
	top:861.93px;
	left:760px;
	width: 370px;
	height:277.31px;
	background-image:url(img12.jpg);
	background-size: 370px 277.31px;
	background-repeat: no-repeat;
}

.img13{
	position: absolute;
	top:1149.24px;
	left:0;
	width: 370px;
	height:277.31px;
	background-image:url(img13.jpg);
	background-size: 370px 277.31px;
	background-repeat: no-repeat;
}

.img14{
	position: absolute;
	top:1149.24px;
	left:380px;
	width: 370px;
	height:277.31px;
	background-image:url(img14.jpg);
	background-size: 370px 277.31px;
	background-repeat: no-repeat;
}

.img15{
	position: absolute;
	top:1149.24px;
	left:760px;
	width: 370px;
	height:277.31px;
	background-image:url(img15.jpg);
	background-size: 370px 277.31px;
	background-repeat: no-repeat;
}
.index{
	border-top:0px solid #adafb2 ;
	position:relative;
	top: 100%;
	border-top-style: dotted;
	background-color: #fafafa;
	height:300px;
}

.copyrights{
	position: relative;
	top:25%;
	left:40%;
	font-family:"oswald", helvetica, arial;
	font-size:10px;
	color:#a6acb5;
	width:20%;
	text-align:center;
}


