html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
}

.header{
	position:relative;
	width:100%;
	height:150px;
	background-color: #232323;
	font-family: "wire one";
	top:0;
}

.name{
	position:absolute;
	top:50%;
	left:5%;
	font-size: 50px;
	color:white;
}

.about{
	position:absolute;
	top:30%;
	right:5%;
	font-size: 22px;
	color:white;
}

.art{
	position:absolute;
	top:50%;
	right:5%;
	font-size: 22px;
	color:white;
}

.contact{
	position:absolute;
	top:70%;
	right:5%;
	font-size: 22px;
	color:white;
}

a{
	text-decoration: none;
	color: white;
}

.description{
	position: relative;
	top: 10%;
	left:25%;
	width:50%;
	height:auto;
	color:black;
	font-size:15px;
	font-family: "Oswald";
}

.web{
	position:relative;
	font-size:15px;
	font-family: "Oswald";
	text-align:center;
	color:black;
}

a.web { 
	position:relative;
	font-size:15px;
	font-family: "Oswald";
	text-align:center;
	color:black;
	text-decoration: underline;
}

.wrapper{
	position:relative;
	top: 20%;
	left: 15%;
	width: 70%;
	height:90%;
	background-color: #fff;
}

.img1{
	position: absolute;
	top:0;
	margin-left:15%;
	width: 568.83px;
	height: 748px;
	background-image:url(img1.jpg);
	background-size: 568.83px 748px;
	background-repeat: no-repeat;
	border: solid black 2px;
}


.index{
	border-top:0px solid #adafb2 ;
	position:relative;
	top: 100%;
	border-top-style: dotted;
	background-color: #fafafa;
	height:300px;
}

.copyrights{
	position: relative;
	top:25%;
	left:40%;
	font-family:"oswald";
	font-size:10px;
	color:grey;
	width:20%;
	text-align:center;
}


