html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
}

.header{
	position:relative;
	width:100%;
	height:150px;
	background-color: black;
	font-family: "oswald", helvetica, arial;
	top:0;
}

.name{
	position:absolute;
	top:48%;
	left:5%;
	font-size: 50px;
	color:white;
}

.about{
	position:absolute;
	top:30%;
	right:5%;
	font-size: 22px;
	color:white;
}

.art{
	position:absolute;
	top:50%;
	right:5%;
	font-size: 22px;
	color:white;
}

.contact{
	position:absolute;
	top:70%;
	right:5%;
	font-size: 22px;
	color:white;
}

a{
	text-decoration: none;
	color: white;
}

.description{
	position: relative;
	top: 10%;
	left:25%;
	width:50%;
	height:auto;
	color:black;
	font-size:15px;
	font-family: "Oswald", helvetica, arial;
}

.web{
	position:relative;
	font-size:15px;
	font-family: "Oswald", helvetica, arial;
	text-align:center;
	color:black;
}

a.web { 
	position:relative;
	font-size:15px;
	font-family: "Oswald", helvetica, arial;
	text-align:center;
	color:black;
	text-decoration: underline;
}

.wrapper{
	position:relative;
	top: 20%;
	left: 15%;
	width: 70%;
	height:260%;
	background-color: #fff;
}

.img16 {
	position: absolute;
	top:800px;
	left:0%;
	width: 910px;
	height: 237px;
	background-image:url(img16.jpg);
	background-size: 910px 237px;
	background-repeat: no-repeat;
}

.img17 {
	position: absolute;
	top:1063px;
	left:0%;
	width: 372px;
	height: 279px;
	background-image:url(img17.jpg);
	background-size: 372px 279px;
	background-repeat: no-repeat;
}

.img18 {
	position: absolute;
	top:1063px;
	left:396px;
	width: 256.08px;
	height: 279px;
	background-image:url(img18.jpg);
	background-size: 256.08px 279px;
	background-repeat: no-repeat;
}

.img19 {
	position: absolute;
	top:1063px;
	left:676px;
	width: 229px;
	height: 279px;
	background-image:url(img19.jpg);
	background-size: 229px 279px;
	background-repeat: no-repeat;
}
.index{
	border-top:0px solid #adafb2 ;
	position:relative;
	top: 20%;
	border-top-style: dotted;
	background-color: #fafafa;
	height:300px;
}

.copyrights{
	position: relative;
	top:20%;
	left:40%;
	font-family:"oswald", helvetica, arial;
	font-size:10px;
	color:#a6acb5;
	width:20%;
	text-align:center;
}


